In [1]:
#法人買賣表 TaiwanStockInstitutionalInvestorsBuySell

In [4]:
import requests
import pandas as pd
url = "https://api.finmindtrade.com/api/v4/data"
parameter = {
    "dataset": "TaiwanStockInstitutionalInvestorsBuySell",
    "data_id": "2330",
    "start_date": "2010-01-01",
    "token": "", # 參考登入，獲取金鑰
}
data = requests.get(url, params=parameter)
data = data.json()
data = pd.DataFrame(data['data'])

In [5]:
data

            date stock_id       buy                 name      sell
0     2012-05-02     2330   1774000               Dealer   1043000
1     2012-05-02     2330  38841300     Foreign_Investor  32897643
2     2012-05-02     2330    284000     Investment_Trust    272000
3     2012-05-03     2330    456000               Dealer    620000
4     2012-05-03     2330  19686790     Foreign_Investor  12947290
...          ...      ...       ...                  ...       ...
8992  2021-04-22     2330         0  Foreign_Dealer_Self         0
8993  2021-04-22     2330    434994          Dealer_self    771372
8994  2021-04-22     2330    130000       Dealer_Hedging    251368
8995  2021-04-22     2330  20715816     Foreign_Investor  19081251
8996  2021-04-22     2330     54063     Investment_Trust    608000

[8997 rows x 5 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8997 entries, 0 to 8996
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      8997 non-null   object
 1   stock_id  8997 non-null   object
 2   buy       8997 non-null   int64
 3   name      8997 non-null   object
 4   sell      8997 non-null   int64
dtypes: int64(2), object(3)
memory usage: 351.6+ KB

In [3]:
#表格格式：日期/股票代碼/買進/類別/賣出
#英文對照：date/stock_id/buy/name/sell/
# def Ex_dividend(stockNo,Name):
    
#     file_name = "{}_daily.csv".format(stockNo)
#     StockPrice.to_csv(file_name, index=False)
#     print(file_name+"下載完成...", end="")
#     print(data.head())
    print(data.info())

IndentationError: unexpected indent (<ipython-input-3-c8ae9d1d46c4>, line 4)

In [15]:
import pandas as pd
df2 = pd.read_csv('1101_Ex_dividend.csv',sep=',')

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   stock_id         26 non-null     int64
 1   stock_name       26 non-null     object
 2   date             26 non-null     object
 3   reference_price  26 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 960.0+ bytes

In [ ]:
import csv
with open('stock_list.csv') as f:
    list_of_stock = csv.DictReader(f)
    for obj in list_of_stock:
        Ex_dividend(obj['stock_id'],obj['stock_name'])